
/* iresume background styling */
.parallax-section {
    background-image: url('/assets/images/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
