<body class="{{ page.class }}"></body>
<head>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/iresume.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/metro-parallax.css' | relative_url }}">
</head>

<!-- Script for Button Functionality -->
<script>
    function toggleContent(id) {
      const content = document.getElementById(id);
      content.style.display = content.style.display === 'block' ? 'none' : 'block';
    }
</script>

<!-- Script for Scroll Observing: Capture User's Scroll Activity -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
      const stops = document.querySelectorAll(".metro-stop");
    
      const observerOptions = {
        root: null,
        rootMargin: "0px",
        threshold: 0.6
      };
    
      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add("active");
          } else {
            entry.target.classList.remove("active");
          }
        });
      }, observerOptions);
    
      stops.forEach(stop => observer.observe(stop));
    });
</script>

<!-- Animating Metro Stops --->

  

{{ content }}